.wrapper
  .header
    .row.nav-default
      nav.navbar.navbar-expand-lg.container-fluid.nav-background
        .col-md-2
          a.navbar-brand(href='#')
            img(src='../../image/component.png', width='100', height='50', alt='')
          button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNavDropdown', aria-controls='navbarNavDropdown', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
        .col-md-10
          #navbarNavDropdown.collapse.navbar-collapse
            ul.navbar-nav.ul-header
              li.nav-item.dropdown.menu-header
                a#navbarDropdownMenuLink.nav-link.dropdown-toggle.main-text(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                  | Nhân Viên 
                .dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
                  a.dropdown-item(href='/admin/thongtinnhanvien') Thông tin nhân viên 
                  a.dropdown-item(href='/admin/themnhanvien') Thêm nhân viên 
              li.nav-item.active.menu-header
                a.nav-link.main-text(href='/admin/thongtinkhachhang')
                  | Khách hàng  
                  span.sr-only (current)
              li.nav-item.active.menu-header
                a.nav-link.main-text(href='/admin/thongtinncc')
                  | Nhà cung cấp  
                  span.sr-only (current)
              li.nav-item.dropdown.menu-header
                a#navbarDropdownMenuLink.nav-link.dropdown-toggle.main-text(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                  | Thống kê
                .dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
                  a.dropdown-item(href='/admin/tkmh') Mặt hàng theo doanh thu 
                  a.dropdown-item(href='/admin/tktg') Doanh thu theo thời gian  
                  a.dropdown-item(href='/admin/tkkh') Khách hàng theo doanh thu  
                  a.dropdown-item(href='/admin/tkncc') Nhà cung cấp theo doanh thu    
              li.nav-item.dropdown.menu-header
                a#navbarDropdownMenuLink.nav-link.dropdown-toggle.name-avt(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                  img.img-avt(src='../../image/33300394_1661690847212341_2374298766367784960_n.jpg', width='40', height='40', alt='')
                  |  Trần Tiểu Cúc 
                .dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
                  a.dropdown-item(href='/admin/thongtincanhan') Thông tin cá nhân 
                  a.dropdown-item(href='#') Đăng xuất 
