extends base
block page_title
  title admin
block content
  .content-ttkh.content.container
    h2.text-center Doanh thu th&aacute;ng : 1
    table.table.table-bordered.table-striped.text-center
      thead.thead-table
        tr
          th(scope='col ') STT
          th(scope='col ') Th&#x1EDD;i gian 
          th(scope='col ') T&#x1ED5;ng ti&#x1EC1;n 
          th(scope='col ') Chi ti&#x1EBF;t 
      tbody
        tr
          th(scope='row ') 1
          td 1/1/2020
          td 1.000.000
          td
            a.btn.btn-info(href='/admin/danhsachhoadonngay ') Xem  
        tr
          th(scope='row ') 2
          td 2/1/2020
          td 1.000.000
          td
            a.btn.btn-info(href='/admin/danhsachhoadonngay ') Xem  
        tr
          th(scope='row ') 3
          td 3/1/2020
          td 1.000.000
          td
            a.btn.btn-info(href='d/admin/anhsachhoadonthang ') Xem  
        tr
          th(scope='row ') 4
          td 4/1/2020
          td 1.000.000
          td
            a.btn.btn-info(href='danhsachhoadonngay.html ') Xem  
        tr
          th(scope='row ') 5
          td 5/1/2020
          td 1.000.000
          td
            a.btn.btn-info(href='danhsachhoadonngay.html ') Xem  
        tr
          th(scope='row ') 6
          td 6/1/2020
          td 1.000.000
          td
            a.btn.btn-info(href='danhsachhoadonngay.html ') Xem  
        tr
          th(scope='row ') 7
          td 7/1/2020
          td 1.000.000
          td
            a.btn.btn-info(href='danhsachhoadonngay.html ') Xem  
        tr
          th(scope='row ') 8
          td 8/1/2020
          td 1.000.000
          td
            a.btn.btn-info(href='danhsachhoadonngay.html ') Xem  
        tr
          th(scope='row ') 9
          td 9/1/2020
          td 1.000.000
          td
            a.btn.btn-info(href='danhsachhoadonngay.html ') Xem  
        tr
          th(scope='row ') 10
          td 10/1/2020
          td 1.000.000
          td
            a.btn.btn-info(href='danhsachhoadonngay.html ') Xem  
        tr
          th(scope='row ') 11
          td 11/1/2020
          td 1.000.000
          td
            a.btn.btn-info(href='danhsachhoadonngay.html ') Xem  
        tr
          th(scope='row ') 12
          td 12/1/2020
          td 1.000.000
          td
            a.btn.btn-info(href='danhsachhoadonngay.html ') Xem  
        tr
          th(scope='row ') 13
          td 13/1/2020
          td 1.000.000
          td
            a.btn.btn-info(href='danhsachhoadonngay.html ') Xem  
        tr
          th(scope='row ') 14
          td 14/1/2020
          td 1.000.000
          td
            a.btn.btn-info(href='danhsachhoadonngay.html ') Xem  
        tr
          th(scope='row ') 15
          td 15/1/2020
          td 1.000.000
          td
            a.btn.btn-info(href='danhsachhoadonngay.html ') Xem  
        tr
          th(scope='row ') 16
          td 16/1/2020
          td 1.000.000
          td
            a.btn.btn-info(href='danhsachhoadonngay.html ') Xem  
        tr
          th(scope='row ') 17
          td 17/1/2020
          td 1.000.000
          td
            a.btn.btn-info(href='danhsachhoadonngay.html ') Xem  
        tr
          th(scope='row ') 18
          td 18/1/2020
          td 1.000.000
          td
            a.btn.btn-info(href='danhsachhoadonngay.html ') Xem  
        tr
          th(scope='row ') 19
          td 19/1/2020
          td 1.000.000
          td
            a.btn.btn-info(href='danhsachhoadonngay.html ') Xem  
        tr
          th(scope='row ') 1
          td 1/1/2020
          td 1.000.000
          td
            a.btn.btn-info(href='danhsachhoadonngay.html ') Xem  
        tr
          th(scope='row ') 1
          td 1/1/2020
          td 1.000.000
          td
            a.btn.btn-info(href='danhsachhoadonngay.html ') Xem  
        tr
          th(scope='row ') 1
          td 1/1/2020
          td 1.000.000
          td
            a.btn.btn-info(href='danhsachhoadonngay.html ') Xem  
        tr
          th(scope='row ') 1
          td 1/1/2020
          td 1.000.000
          td
            a.btn.btn-info(href='danhsachhoadonngay.html ') Xem  
        tr
          th(scope='row ') 1
          td 1/1/2020
          td 1.000.000
          td
            a.btn.btn-info(href='danhsachhoadonngay.html ') Xem  
        tr
          th(scope='row ') 1
          td 1/1/2020
          td 1.000.000
          td
            a.btn.btn-info(href='danhsachhoadonngay.html ') Xem  
        tr
          th(scope='row ') 1
          td 1/1/2020
          td 1.000.000
          td
            a.btn.btn-info(href='danhsachhoadonngay.html ') Xem  
        tr
          th(scope='row ') 1
          td 1/1/2020
          td 1.000.000
          td
            a.btn.btn-info(href='danhsachhoadonngay.html ') Xem  
        tr
          th(scope='row ') 1
          td 1/1/2020
          td 1.000.000
          td
            a.btn.btn-info(href='danhsachhoadonngay.html ') Xem  
        tr
          th(scope='row ') 1
          td 1/1/2020
          td 1.000.000
          td
            a.btn.btn-info(href='danhsachhoadonngay.html ') Xem  
        tr
          th(scope='row ') 1
          td 1/1/2020
          td 1.000.000
          td
            a.btn.btn-info(href='danhsachhoadonngay.html ') Xem  
        tr
          th(scope='row ') 1
          td 1/1/2020
          td 1.000.000
          td
            a.btn.btn-info(href='danhsachhoadonngay.html ') Xem  
        tr
          th(scope='row ') 1
          td 1/1/2020
          td 1.000.000
          td
            a.btn.btn-info(href='danhsachhoadonngay.html ') Xem  
        tr
          th(scope='row ') 1
          td 1/1/2020
          td 1.000.000
          td
            a.btn.btn-info(href='danhsachhoadonngay.html ') Xem  
