extends base
block page_title
  title admin
block content
  .content-ttkh.content.container
    h2.text-center Doanh thu n&abreve;m : 2019
    table.table.table-bordered.table-striped.text-center
      thead.thead-table
        tr
          th(scope='col ') STT
          th(scope='col ') Th&aacute;ng 
          th(scope='col ') Doanh thu 
          th(scope='col ') L&atilde;i 
      tbody
        tr
          th(scope='row ') 1
          td 1
          td 20.000.000
          td 15.000.000
        tr
          th(scope='row ') 2
          td 2
          td 20.000.000
          td 15.000.000
        tr
          th(scope='row ') 3
          td 3
          td 20.000.000
          td 15.000.000
        tr
          th(scope='row ') 4
          td 4
          td 20.000.000
          td 15.000.000
        tr
          th(scope='row ') 5
          td 5
          td 20.000.000
          td 15.000.000
        tr
          th(scope='row ') 6
          td 6
          td 20.000.000
          td 15.000.000
        tr
          th(scope='row ') 7
          td 7
          td 20.000.000
          td 15.000.000
        tr
          th(scope='row ') 8
          td 8
          td 20.000.000
          td 15.000.000
        tr
          th(scope='row ') 9
          td 9
          td 20.000.000
          td 15.000.000
        tr
          th(scope='row ') 10
          td 10
          td 20.000.000
          td 15.000.000
        tr
          th(scope='row ') 11
          td 11
          td 20.000.000
          td 15.000.000
        tr
          th(scope='row ') 12
          td 12
          td 20.000.000
          td 15.000.000
