extends base
block page_title
  title admin
block content
  .content-ttkh.content.container
    h2.text-center Xem doanh thu theo qu&yacute; c&#x1EE7;a n&abreve;m : 
    table.table.table-bordered.table-striped.text-center
      thead.thead-table
        tr
          th(scope='col ') STT 
          th(scope='col ') M&atilde; h&oacute;a &dstrok;&#x1A1;n  
          th(scope='col ') T&#x1ED5;ng ti&#x1EC1;n 
          th(scope='col ') Chi ti&#x1EBF;t 
      tbody
        tr
          th(scope='row ') 1
          td H&Dstrok;001
          td 500.000
          td
            a.btn.btn-info(href='/admin/danhsachhoadonngaychitiet ') Xem  
        tr
          th(scope='row ') 1
          td H&Dstrok;001
          td 500.000
          td
            a.btn.btn-info(href='/admin/danhsachhoadonngaychitiet ') Xem  
