extends base
block page_title
  title admin
block content
  .content-ttkh.content.container
    .search.row
      .day.col-md-5
        .form-group
          label(for='')
            | Ng&agrave;y b&#x1EAF;t &dstrok;&#x1EA7;u 
            span.red (*)
          br
          input#ngaybd.inp-day(type='date', name='ngaybd', placeholder='', aria-describedby='helpId')
      .day.col-md-5
        .form-group
          label(for='')
            | Ng&agrave;y k&#x1EBF;t th&uacute;c  
            span.red (*)
          br
          input#ngaykt.inp-day(type='date', name='ngaykt', placeholder='', aria-describedby='helpId')
      .col-lg-2.col-md-2.col-sm-2.col-xs-2
        button.btn.btn-info.timkiem(style='margin-top:32px') T&igrave;m ki&#x1EBF;m
    .info
      ul.list-info
        li T&ecirc;n kh&aacute;ch h&agrave;ng : Tr&#x1EA7;n Ti&#x1EC3;u Long 
        li S&#x1ED1; &dstrok;i&#x1EC7;n tho&#x1EA1;i : 0998765459
        li T&#x1ED5;ng ti&#x1EC1;n :3.400.000
    table.table.table-bordered.table-striped.text-center
      thead.thead-table
        tr
          th(scope='col ') STT
          th(scope='col ') Th&#x1EDD;i gian 
          th(scope='col ') M&atilde; h&oacute;a &dstrok;&#x1A1;n 
          th(scope='col ') T&#x1ED5;ng ti&#x1EC1;n 
          th(scope='col ') Xem chi ti&#x1EBF;t 
      tbody
        tr
          th(scope='row ') 1
          td 12/01/2020 
          td H&Dstrok;0001
          td 3.000.000
          td
            a.btn.btn-info(href='/admin/hoadonkhchitiet ') Xem  
        tr
          th(scope='row ') 1
          td 12/02/2020 
          td H&Dstrok;0010
          td 400.000
          td
            a.btn.btn-info(href='/admin/hoadonkhchitiet ') Xem  
