extends base
block page_title
  title admin
block content
  .content-ttkh.content.container
    h2.text-center Doanh thu th&aacute;ng : 1
    table.table.table-bordered.table-striped.text-center
      thead.thead-table
        tr
          th(scope='col ') STT
          th(scope='col ') Th&aacute;ng 
          th(scope='col ') Doanh thu 
          th(scope='col ') L&atilde;i 
      tbody
        tr
          th(scope='row ') 1
          td 1
          td 20.000.000
          td 15.000.000
        tr
          th(scope='row ') 2
          td 2
          td 20.000.000
          td 15.000.000
        tr
          th(scope='row ') 3
          td 3
          td 20.000.000
          td 15.000.000
