extends base
block page_title
  title admin
block content
  .content-ttkh.content.container
  .search.row
    .day.col-md-5
      .form-group
        label(for='')
          | Ngày bắt đầu 
          span.red (*)
        br
        input#ngaybd.inp-day(type='date', name='ngaybd', placeholder='', aria-describedby='helpId')
    .day.col-md-5
      .form-group
        label(for='')
          | Ngày kết thúc 
          span.red (*)
        br
        input#ngaykt.inp-day(type='date', name='ngaykt', placeholder='', aria-describedby='helpId')
    .col-lg-2.col-md-2.col-sm-2.col-xs-2
      button.btn.btn-info.timkiem(style='margin-top:32px') Tìm kiếm 
  .info
    ul.list-info
      li Tên mặt hàng : Áo sơ mi 
      li Mã mặt hàng :
      li Số lượng 
      li Tổng tiền 
  table.table.table-bordered.table-striped.text-center
    thead.thead-table
      tr
        th(scope='col ') STT
        th(scope='col ') Thời gian 
        th(scope='col ') Mã mặt hàng 
        th(scope='col ') Số lượng 
        th(scope='col ') Đơn giá  
        th(scope='col ') Tổng tiền  
    tbody
      tr
        th(scope='row ') 1
        td 12/01/2020 
        td H0001
        td 3
        td 100.000
        td 300.000
      tr
        th(scope='row ') 1
        td 12/01/2020 
        td H0001
        td 3
        td 100.000
        td 300.000
      tr
        th(scope='row ') 1
        td 12/01/2020 
        td H0001
        td 3
        td 100.000
        td 300.000
