extends base
block page_title
  title admin
block content
  .content-ttkh.content.container
    .search.row
      .day.col-md-5
        .form-group
          label(for='')
            | Ng&agrave;y b&#x1EAF;t &dstrok;&#x1EA7;u 
            span.red (*)
          br
          input#ngaybd.inp-day(type='date', name='ngaybd', placeholder='', aria-describedby='helpId')
      .day.col-md-5
        .form-group
          label(for='')
            | Ng&agrave;y k&#x1EBF;t th&uacute;c  
            span.red (*)
          br
          input#ngaykt.inp-day(type='date', name='ngaykt', placeholder='', aria-describedby='helpId')
      .col-lg-2.col-md-2.col-sm-2.col-xs-2
        button.btn.btn-info.timkiem(style='margin-top:32px') T&igrave;m ki&#x1EBF;m
    .info
      ul.list-info
        li M&atilde; h&oacute;a &dstrok;&#x1A1;n: HD0001
        li T&#x1ED5;ng ti&#x1EC1;n: 3.000.000
    table.table.table-bordered.table-striped.text-center
      thead.thead-table
        tr
          th(scope='col ') STT
          th(scope='col ') Th&#x1EDD;i gian 
          th(scope='col ') M&atilde; s&#x1EA3;n ph&#x1EA9;m 
          th(scope='col ') T&ecirc;n s&#x1EA3;n ph&#x1EA9;m 
          th(scope='col ') &Dstrok;&#x1A1;n gi&aacute; 
          th(scope='col ') S&#x1ED1; l&#x1B0;&#x1EE3;ng 
          th(scope='col ') T&#x1ED5;ng ti&#x1EC1;n 
      tbody
        tr
          th(scope='row ') 1
          td 12/01/2020 
          td A001
          td &Aacute;o s&#x1A1; mi
          td 300.000
          td 10
          td 3.000.000
        tr
          th(scope='row ') 2
          td 12/02/2020 
          td Q001
          td Qu&#x1EA7;n kaki
          td 400.000
          td 1
          td 400.000
