extends base
block page_title
  title admin
block content
  .content.container
    h2(style='border-bottom: 1px solid black;') Thông tin nhân viên 
    form.content-form(action='/admin/themnhanvien', method='post')
      .form-group
        label(for='exampleInputName') Họ và tên 
        input#exampleInputName.form-control(type='text')
      .form-group
        label(for='exampleInputSDT') Số điện thoại 
        input#exampleInputSDT.form-control(type='number')
      .form-group
        label(for='exampleInputusername') Username
        input#exampleInputusername.form-control(type='text')
      .form-group
        label(for='exampleInputpass') Password 
        input#exampleInputpass.form-control(type='text')
      .form-group
        label(for='email') Email  
        input#email.form-control(type='email')
      .form-group
        label(for='ngaysinh') Ngày sinh  
        input#ngaysinh.form-control(type='date')
      .form-group
        label(for='diachi') Địa chỉ   
        input#diachi.form-control(type='text')
      .form-group
        label(for='Energy') Giới tính 
        br
        input#Energy(type='radio', name='energy', value='', disabled='')
        | Nam
        input#Energy(type='radio', name='energy', value='', disabled='')
        | Nữ 
      button.btn.btn-pri(type='submit') Thêm mới   
