extends base
block page_title
  title admin
block content
  .content-ttkh.content.container
    h2(style='border-bottom: 1px solid black;') Danh Sách Nhân Viên 
    form.content-form
      .form-group.form-search-nv.row
        .col-md-8
          input#exampleInputEmail1.form-control(type='text', placeholder='Nhập vào tên nhân viên  ', aria-describedby='emailHelp')
        .col-md-2
          button.btn.btn-pri.btn-seller(type='submit') Tìm kiếm   
        .col-md-2
          a.btn.btn-pri.btn-seller(href='/seller/themkh') Thêm
    table.table.table-bordered.table-striped.text-center
      thead.thead-table
        tr
          th(scope='col') STT
          th(scope='col') Họ và tên 
          th(scope='col') Mã nhân viên
          th(scope='col') Số điện thoại 
          th(scope='col') Chi Tiết 
      tbody
        - var dem = 1
        each nhanvien in nv
          if(dem<=15)
          tr
            th(scope='row')= dem++                     
            td=	nhanvien.nguoi.ten               
            td= nhanvien.nguoi._id           
            td=	nhanvien.nguoi.sdt           
            td
              a.btn.btn-info(href=`/admin/xemchitietnv/${nhanvien.nguoi._id}`) Xem	
