extends base
block page_title
  title admin
block content
  .content-ttkh.content.container
    h2(style='border-bottom: 1px solid black;') Danh Sách Nhà Cung Cấp:
    form.content-form
      .form-group
        label(for='exampleInputEmail1') Tìm kiếm nhà cung cấp
        input#exampleInputEmail1.form-control(type='email', placeholder='Search', aria-describedby='emailHelp')
    table.table.table-bordered.table-striped.text-center
      thead.thead-table
        tr
          th(scope='col') STT
          th(scope='col') Họ và tên  
          th(scope='col') Số điện thoại 
          th(scope='col') Địa chỉ 
          th(scope='col') Chi Tiết 
      tbody
        - var dem = 1
        each ncc in nhacungcap
          if(dem<=15)
          tr
            th(scope='row')= dem++                     
            td=	ncc.nguoi.ten               
            td= ncc.nguoi.sdt           
            td=	ncc.nguoi.diaChi           
            td
              a.btn.btn-info(href=`/admin/xemchitietncc/${ncc.nguoi._id}`) Xem	
