extends base
block page_title
  title admin
block content
  .content-ttkh.content.container
    h2.text-center Xem doanh thu theo qu&yacute; c&#x1EE7;a n&abreve;m : 
    table.table.table-bordered.table-striped.text-center
      thead.thead-table
        tr
          th(scope='col ') Qu&yacute; 
          th(scope='col ') Doanh thu 
          th(scope='col ') L&atilde;i 
          th(scope='col ') Chi ti&#x1EBF;t 
      tbody
        tr
          th(scope='row ') 1
          td 230.000.000
          td 180.000.000
          td
            a.btn.btn-info(href='/admin/danhsachhoadonquy ') Xem  
        tr
          th(scope='row ') 2
          td 200.000.000
          td 160.000.000
          td
            a.btn.btn-info(href='/admin/danhsachhoadonquy ') Xem  
        tr
          th(scope='row ') 3
          td 220.000.000
          td 180.000.000
          td
            a.btn.btn-info(href='/admin/danhsachhoadonquy ') Xem  
        tr
          th(scope='row ') 4
          td 179.000.000
          td 156.000.000
          td
            a.btn.btn-info(href='/admin/danhsachhoadonquy ') Xem  

