extends base
block page_title
  title admin
block content
  .content-ttkh.content.container
    h2.text-center Xem doanh thu theo th&aacute;ng 
    table.table.table-bordered.table-striped.text-center
      thead.thead-table
        tr
          th(scope='col ') Th&aacute;ng 
          th(scope='col ') Doanh thu 
          th(scope='col ') L&atilde;i 
          th(scope='col ') Chi ti&#x1EBF;t 
      tbody
        tr
          th(scope='row ') 1
          td 30.000.000
          td 20.000.000
          td
            a.btn.btn-info(href='/admin/danhsachhoadonthang ') Xem  
        tr
          th(scope='row ') 2
          td 42.000.000
          td 26.000.000
          td
            a.btn.btn-info(href='/admin/danhsachhoadonthang ') Xem  
        tr
          th(scope='row ') 3
          td 22.000.000
          td 12.000.000
          td
            a.btn.btn-info(href='/admin/danhsachhoadonthang ') Xem  
        tr
          th(scope='row ') 4
          td 42.000.000
          td 22.000.000
          td
            a.btn.btn-info(href='/admin/danhsachhoadonthang ') Xem  
        tr
          th(scope='row ') 5
          td 32.000.000
          td 24.000.000
          td
            a.btn.btn-info(href='/admin/danhsachhoadonthang ') Xem  
        tr
          th(scope='row ') 6
          td 36.000.000
          td 26.000.000
          td
            a.btn.btn-info(href='/admin/danhsachhoadonthang ') Xem  
        tr
          th(scope='row ') 7
          td 42.000.000
          td 33.000.000
          td
            a.btn.btn-info(href='/admin/danhsachhoadonthang ') Xem  
        tr
          th(scope='row ') 8
          td 52.000.000
          td 40.000.000
          td
            a.btn.btn-info(href='/admin/danhsachhoadonthang ') Xem  
        tr
          th(scope='row ') 9
          td 45.000.000
          td 29.000.000
          td
            a.btn.btn-info(href='/admin/danhsachhoadonthang ') Xem  
        tr
          th(scope='row ') 10
          td 12.000.000
          td 6.000.000
          td
            a.btn.btn-info(href='/admin/danhsachhoadonthang ') Xem  
        tr
          th(scope='row ') 11
          td 12.000.000
          td 6.000.000
          td
            a.btn.btn-info(href='/admin/danhsachhoadonthang ') Xem  
        tr
          th(scope='row ') 12
          td 12.000.000
          td 6.000.000
          td
            a.btn.btn-info(href='/admin/danhsachhoadonthang ') Xem  
