extends base
block page_title
  title banhang 
block content
  .content.container
    h2(style='border-bottom: 1px solid black;') Tìm kiếm khách hàng  :
    form.content-form
      .form-group.form-search-nv.row
        .col-md-8
          input#exampleInputEmail1.form-control(type='text', placeholder='Nhập vào sdt khách hàng  ', aria-describedby='emailHelp')
        .col-md-2
          button#submitSearchTenKhachHang.btn.btn-pri.btn-seller(type='submit') Tìm kiếm   
        .col-md-2
          a.btn.btn-pri.btn-seller(href='/seller/themkh') Thêm
    table.table.table-bordered.table-striped.text-center
      thead.thead-table
        tr
          th(scope='col') STT
          th(scope='col') Mã khách hàng 
          th(scope='col') Tên khách hàng 
          th(scope='col') Số điện thoại khách hàng 
          th(scope='col') Địa chỉ 
          th(scope='col') Chức năng
      tbody#bodyKhachHang
        - var dem = 1
          each khachhang in khachhangs
            tr
              th(scope='row')= dem++   
              td=	khachhang._id                  
              td=	khachhang.nguoi.ten               
              td= khachhang.nguoi.sdt           
              td=	khachhang.nguoi.diaChi           
              td
                a.btn.btn-info(href=`/seller/timkiemmh/${khachhang._id} ` onclick=`chonKhachHang(${khachhang._id})`) Chọn
block script
  script(src='/script/khachhang/khachhang.js')
