extends base
block page_title
  title banhang 
block content
  .content.container
    h2(style='border-bottom: 1px solid black;') Tìm kiếm khách hàng  :
    form.content-form
      .form-group.form-search-nv.row
        .col-md-8
          input#exampleInputEmail1.form-control(type='email', placeholder='Nhập vào sdt khách hàng  ', aria-describedby='emailHelp')
        .col-md-2
          button.btn.btn-pri.btn-seller(type='submit') Tìm kiếm   
        .col-md-2
          a.btn.btn-pri.btn-seller(href='themkh.html') Thêm
    table.table.table-bordered.table-striped.text-center
      thead.thead-table
        tr
          th(scope='col') STT
          th(scope='col') Mã khách hàng 
          th(scope='col') Tên khách hàng 
          th(scope='col') Số điện thoại khách hàng 
          th(scope='col') Địa chỉ 
          th(scope='col') Chức năng
      tbody 
        tr
          th(scope='row') 1
          td KH001
          td Trần Tiểu Cúc 
          td 0987654343
          td Hà Nội
          td
            a.btn.btn-info(href='/seller/timkiemmh') Chọn  
        tr
          th(scope='row') 2
          td KH002
          td Trần Tiểu Yến 
          td 0987674343
          td Hà Nội
          td
            a.btn.btn-info(href='/seller/timkiemmh') Chọn  
        tr
          th(scope='row') 3
          td KH003
          td Trần Tiểu Long 
          td 0987654743
          td Hà Nội
          td
            a.btn.btn-info(href='/seller/timkiemmh') Chọn 
