extends base
block page_title
  title banhang 
block content
  .content.container
    h2(style='border-bottom: 1px solid black;') Danh sách các mặt hàng :
    table.table.table-bordered.table-striped.text-center
      thead.thead-table
        tr
          th(scope='col') STT
          th(scope='col') Mã mặt hàng 
          th(scope='col') Tên mặt hàng 
          th(scope='col') Số lượng 
          th(scope='col') Đơn giá 
          th(scope='col') Thành tiền 
          th(scope='col') Chức năng
      tbody#bodybanhangseller
    .row
      .col-md-2
        a.btn.btn-pri.btn-seller(href=`/seller/timkiemmh/${data}`) Tìm kiếm   
      .col-md-2.offset-8
        a.btn.btn-pri.btn-seller(href='http://localhost:3000/seller/banhang' onclick=`thanhToanHoaDon()`) Thanh toán  
block script
  script(src='/script/banhang/banhang.js')  
