extends base

block page_title
	title Home page
block content
	.content-ttkh.content.container
		h2(style='border-bottom: 1px solid black;') Danh Sách Mặt Hàng  :            
		form.content-form(action='/seller/xemmhtheoten', method='post')
			.form-group.form-search-nv.row
				.col-md-10
					input#exampleInputEmail1.form-control(type='text', placeholder='Nhập vào tên mặt hàng  ',name="ten")
				.col-md-2
					button.btn.btn-pri.btn-seller(type='submit') T&igrave;m ki&#x1EBF;m   
		table.table.table-bordered.table-striped.text-center
			thead.thead-table
				tr
					th(scope='col') STT                       
					th(scope='col') Tên mặt hàng                        
					th(scope='col') Mã mặt hàng                        
					th(scope='col') Size                        
					th(scope='col') Màu sắc                         
					th(scope='col') Số lượng 

			tbody
				- var dem = 1
				each mh in mathang
					if(dem<=15)
					tr
						th(scope='row')= dem++                     
						td=	mh.ten              
						td= mh._id           
						td=	mh.kichCo   
						td= mh.mauSac          
						td=	mh.soLuong         
					
			