extends base

block page_title
	title Home page
block content
	.content-ttkh.content.container
		h2(style='border-bottom: 1px solid black;') Danh Sách Mặt Hàng  :            
		form.content-form
			.form-group
				input#exampleInputEmail1.form-control(type='email', placeholder='Nhập vào mã mặt hàng ', aria-describedby='emailHelp')            
		table.table.table-bordered.table-striped.text-center
			thead.thead-table
				tr
					th(scope='col') STT                       
					th(scope='col') Tên mặt hàng                        
					th(scope='col') Mã mặt hàng                        
					th(scope='col') Size                        
					th(scope='col') Màu sắc                         
					th(scope='col') Số lượng 
				tr
					th(scope='row') 1                        
					td Áo sơ mi                     
					td A001                        
					td S                         
					td Đen                         
					td 30                    
				tr
					th(scope='row') 2                      
					td Áo sơ mi                     
					td A002                    
					td M                       
					td Đen                         
					td 30             
				tr
					th(scope='row') 3                       
					td Áo sơ mi                     
					td A003                        
					td L                        
					td Đen                         
					td 35 
