extends base

block page_title
	title ThongtinKH

block content
	.content-ttkh.container.content
		h2(style='border-bottom: 1px solid black;') Danh sách khách hàng :   
		form.content-form(action='/seller/xemkhtheosdt', method='post')
			.form-group.form-search-nv.row
				.col-md-10
					input#exampleInputEmail1.form-control(type='text', placeholder='Nhập vào sdt khách hàng  ',name="sdt")
				.col-md-2
					button.btn.btn-pri.btn-seller(type='submit') T&igrave;m ki&#x1EBF;m   
		table.table.table-bordered.table-striped.text-center
			thead.thead-table
				tr
					th(scope='col') STT                      
					th(scope='col') Họ và tên                       
					th(scope='col') Số điện thoại                        
					th(scope='col') Địa chỉ                        
					th(scope='col') Chi Tiết 
              
			tbody
				- var dem = 1
				each client in khachhang
					if(dem<=15)
					tr
						th(scope='row')= dem++                     
						td=	client.nguoi.ten               
						td= client.nguoi.sdt           
						td=	client.nguoi.diaChi           
						td
							a.btn.btn-info(href=`/seller/xemchitiet/${client._id} `) Xem	
			