extends base
block page_title
  title banhang 
block content
  .content.container
    h2(style='border-bottom: 1px solid black;') Tìm kiếm mặt hàng :
    form.content-form(action='/seller/timmhtheoten', method='post')
      .form-group.form-search-mh.row
        input#exampleInputEmail1.form-control.col-md-9(type='text', placeholder='Nhập tên mặt hàng  ', name="ten")
        button.btn.btn-search.col-md-2.offset-md-1(type='submit') Tìm kiếm   
    table.table.table-bordered.table-striped.text-center
      thead.thead-table
        tr
          th(scope='col') STT
          th(scope='col') Mã mặt hàng 
          th(scope='col') Tên mặt hàng  
          th(scope='col') Đơn giá 
          th(scope='col') Màu sắc
          th(scope='col') Kích thước  
          th(scope='col') Chức năng
      tbody
      - var dem = 1
        each product in matHangs.data
          tr
            th(scope='row')= dem++   
            td=	product._id                  
            td=	product.ten               
            td=product.giaBan           
            td=	product.mauSac 
            td=	product.kichCo           
            td
              a.btn.btn-info(href=`/seller/hoadon/${product._id} ` onclick=`themGioHang(${product._id})` ) Chọn
block script
  script(src='/script/khachhang/timkiemmh.js')


