extends base
block page_title
  title banhang 
block content
  .container.content
    h2(style='border-bottom: 1px solid black;') Th&ocirc;ng tin h&oacute;a &dstrok;&#x1A1;n :
    div
      ul.info-client
        li H&#x1ECD; v&agrave; t&ecirc;n : Tr&#x1EA7;n Ti&#x1EC3;u C&uacute;c 
        li S&#x1ED1; &dstrok;i&#x1EC7;n tho&#x1EA1;i : 0355694873
        li &Dstrok;&#x1ECB;a ch&#x1EC9; : Km10 Nguy&#x1EC5;n Tr&atilde;i, M&#x1ED9; Lao , H&agrave; &Dstrok;&ocirc;ng , H&agrave; N&#x1ED9;i 
    table.table.table-bordered.table-striped.text-center
      thead.thead-table
        tr
          th(scope='col') STT
          th(scope='col') T&ecirc;n m&#x1EB7;t h&agrave;ng 
          th(scope='col') M&atilde; m&#x1EB7;t h&agrave;ng 
          th(scope='col') K&iacute;ch c&#x1EE1; 
          th(scope='col') M&agrave;u s&#x1EAF;c
          th(scope='col') S&#x1ED1; l&#x1B0;&#x1EE3;ng 
          th(scope='col') &Dstrok;&#x1A1;n gi&aacute; 
          th(scope='col') Th&agrave;nh ti&#x1EC1;n 
      tbody
        tr
          th(scope='row') 1
          td &Aacute;o s&#x1A1; mi
          td A002 
          td M 
          td &Dstrok;en 
          td 2 
          td 100.000
          td 200.000
        tr
          th(scope='row') 2
          td Qu&#x1EA7;n kaki
          td Q002 
          td M 
          td &Dstrok;en 
          td 2 
          td 100.000
          td 200.000
        tr
          td(colspan='7') T&#x1ED5;ng ti&#x1EC1;n 
          td 400.000
    a.btn.btn-success.btn-in(href='#') Th&agrave;nh c&ocirc;ng  
    a.btn.btn-in.btn-danger(href='#') H&#x1EE7;y 
