.footer
  .container
    .row
      .col-sm
        .image-logo1
          a(href='#')
            img.logo-white(src='images/logo-image.png', alt='anh')
        .footer-icon
          div
            a(href='#')
              img.footer-icon__item(src='images/facebook.png', alt='anh')
          div
            a(href='#')
              img.footer-icon__item(src='images/instagram.png', alt='anh')
          div
            a(href='#')
              img.footer-icon__item(src='images/twitter.png', alt='anh')
      .col-sm chi nhánh HN
      .col-sm chi nhánh HCM
    .footer-line
    .footer-info__end bản quyền thuộc hihii team
