.wrapper
	.main-header
		.container
			.left-header
				.image-logo1
					img.logo-white(src='asset/image/logo-image.png')
					img.logo-blue(src='/assets/images/Services/logo-blue.png')
			.right-header
				.header-top
					.language-search
						ul
							li.header-search
								.content-search
									form.form-search(action='')
										input(type='text')
										button(type='submit')
											img(width='20', height='20', src='asset/image/icon-search2.png', alt='')
							li.header-dn
								ul
									li
										a(href='#') Sign up 
									li
										a(href='#') Sign in 
									li
										a(href='#')
											img(src='asset/image/icon-profile.png', alt='', width=' 30', height='30')
									li
										a(href='#')
											img(src='asset/image/cart.png', alt='', width=' 30', height='30')
					.nav-header
						ul
							li
								a(href='#') News 
							li
								a(href='#') Best sale
							li
								a(href='#') Hot
				.clear  
				.header-bottom
					ul.text-center
						li.header-bottom-menu
							a(href='#') HOME
						li.header-bottom-menu
							a(href='#') ABOUT
						li.sub-menu-main.header-bottom-menu
							a(href='product.html')
								i.fas.fa-tshirt(style='padding-right: 7px;')
								| ÁO
							ul.sub-menu.text-left
								li
									a(href='#') ÁO SƠ MI
								li
									a(href='#') ÁO KHOÁC
								li
									a(href='#') ÁO LEN
								li
									a(href='#') ÁO DẠ
								li
									a(href='#') ÁO THUN
						li.sub-menu-main.header-bottom-menu
							a(href='product.html') QUẦN 
							ul.sub-menu.text-left
								li
									a(href='#') QUẦN KAKI
								li
									a(href='#') QUẦN SOOC
								li
									a(href='#') QUẦN BAGGY
								li
									a(href='#') QUẦN BÒ
