extends base

block page_title
	title Home page
  
block content
	.content-ttkh.content.container
		h2(style='border-bottom: 1px solid black;') Thêm mới Nhà cung cấp :            
		form.content-form(action='/nvkho/themncc', method='post')
			.form-group
				label(for='exampleInputName') Họ và tên            
				input#exampleInputName.form-control(type='text',name='ten')                          
			.form-group
				label(for='exampleInputSDT') Số điện thoại                        
				input#exampleInputSDT.form-control(type='number',name='sdt')               
			.form-group
				label(for='ngaysinh') Ngày sinh                     
				input#ngaysinh.form-control(type='date',name='ngaySinh')     
			.form-group
				label(for='email') Email                     
				input#email.form-control(type='email',name='email')              
			.form-group
				label(for='diachi') Địa chỉ                       
				input#diachi.form-control(type='text',name='diaChi' )    
			.form-group
				label(for='mota') Mô tả                      
				input#mota.form-control(type='text',name='moTa' )           
			.form-group
				label(for='Energy') Giới tính                      
				br
				input#Energy(type='radio', name='gioiTinh', value='',checked)
				| Nam               
				input#Energy(type='radio', name='gioiTinh', value='')
				| Nữ             
			button.btn.btn-pri(type='submit') Thêm mới  
