extends base

block page_title
 title ThongtinKH

block content
 .content-ttkh.content.container
  h2(style='border-bottom: 1px solid black;') Danh S&aacute;ch M&#x1EB7;t H&agrave;ng :
  form.content-form(action='/nvkho/xemmhtheoten', method='post')
    .form-group.form-search-nv.row
      .col-md-10
        input#exampleInputEmail1.form-control(type='text', placeholder='Nhập vào tên mặt hàng  ', name="ten")
      .col-md-2
        button.btn.btn-pri.btn-seller(type='submit') T&igrave;m ki&#x1EBF;m 
  table.table.table-bordered.table-striped.text-center
    thead.thead-table
      tr
        th(scope='col') STT
        th(scope='col') T&ecirc;n m&#x1EB7;t h&agrave;ng 
        th(scope='col') M&atilde; m&#x1EB7;t h&agrave;ng 
        th(scope='col') Size 
        th(scope='col') M&agrave;u s&#x1EAF;c 
        th(scope='col') S&#x1ED1; l&#x1B0;&#x1EE3;ng 
        th(scope='col') Chi tiết
    tbody
      - var dem = 1
      each mh in mathang
        if(dem<=15)
        tr
          th(scope='row')= dem++                     
          td=	mh.ten              
          td= mh._id           
          td=	mh.kichCo   
          td= mh.mauSac          
          td=	mh.soLuong   
          td
            a.btn.btn-info(href=`/nvkho/xemchitietmh/${mh._id} `) Xem       
        
    