
.footer {
    background-color: #5E6472;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 20px;
    color: #ffffff;
}

.footer .container .row {
    padding-bottom: 20px;
}

.footer .container .footer-icon {
    display: flex;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}

.footer .container .footer-icon .footer-icon__item {
    width: 30px;
    height: 30px;
}

.footer .container .footer-line {
    height: 0.5px;
    background-color: #ffffff;
}

.footer .container .footer-info__end {
    text-align: center;
}